{% import 'macros/clean_output.html' as clean_output %}
{% import 'macros/localized.html' as localized %}

{% macro datasource_table(datasources, show_descriptions, citations=None) %}
<div class="tables-mobile">
<table class="table datasources-table table-bordered">
    <thead>
        <tr>
            <th class="p-2" scope="col">ID</th>
            <th class="p-2 nowrap" scope="col">Data Source</th>
            <th class="p-2 nowrap" scope="col">Data Component</th>
            {% if show_descriptions %}
            <th class="p-2" scope="col">Detects</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for datasource in datasources %}
            <tr class="datasource" id="uses-{{datasource.attack_id}}">
                <td>
                    <a href="/datasources/{{datasource.attack_id}}">{{datasource.attack_id}}</a>
                </td>
                <td class="nowrap">
                    <a href="/datasources/{{datasource.attack_id}}">{{ localized.text(datasource.name, datasource.name_fa) }}</a>
                </td>
                <!-- Add first data component here -->
                <td> 
                    <a href="/datasources/{{datasource.attack_id}}/#{{datasource.datacomponents[0].name | escape_spaces}}">{{ localized.text(datasource.datacomponents[0].name, datasource.datacomponents[0].name_fa) }}</a>
                </td>
                {% if show_descriptions %}
                    <td>
                        {{ localized.stix(datasource.datacomponents[0].descr, datasource.datacomponents[0].descr_fa, citations) }}
                    </td>
                {% endif %}
            </tr>
            {% for datacomponent in datasource.datacomponents %}
                {% if loop.index != 1 %}
                    <tr class="datacomponent datasource" id="uses-{{datasource.attack_id}}-{{datacomponent.name}}">
                        <td></td>
                        <td></td>
                        <td>
                            <a href="/datasources/{{datasource.attack_id}}/#{{datacomponent.name | escape_spaces}}">{{ localized.text(datacomponent.name, datacomponent.name_fa) }}</a>
                        </td>
                        {% if show_descriptions %}
                            <td>
                                {{ localized.stix(datacomponent.descr, datacomponent.descr_fa, citations) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endmacro %}
