{% import 'macros/clean_output.html' as clean_output %}
{% import 'macros/localized.html' as localized %}

{% macro table_with_subtechniques(technique_table) -%}
    <table class="table-techniques">
        <thead>
            <tr>
                <td colspan="2">ID</td>
                <td>{{ localized.text("Name", "نام") }}</td>
                <td>{{ localized.text("Description", "توضیح") }}</td>
            </tr>
        </thead>
        <tbody>
            {% for row in technique_table %}
                <tr class="technique">
                    <td colspan="2">
                        <a href="/techniques/{{row.tid}}"> {{row.tid}} </a>
                    </td>
                    <td>
                        <a href="/techniques/{{row.tid}}"> {{ localized.text(row.technique_name, row.technique_name_fa) }} </a>
                    </td>
                    <td>
                        {% if row.deprecated %}
                            <font color="red">****Deprecation Warning****</font>
                        {% endif %}
                        {{ localized.stix(row.descr, row.descr_fa, firstParagraphOnly=True) }}
                    </td>
                </tr>
                {% for subtechnique in row.subtechniques %}
                    <tr class="sub technique">
                        <td></td>
                        <td>
                            <a href="/techniques/{{row.tid}}/{{subtechnique.id}}"> .{{subtechnique.id}} </a>
                        </td>
                        <td>
                            <a href="/techniques/{{row.tid}}/{{subtechnique.id}}"> {{ localized.text(subtechnique.name, subtechnique.name_fa) }} </a>
                        </td>
                        <td>
                            {{ localized.stix(subtechnique.descr, subtechnique.descr_fa, firstParagraphOnly=True) }}
                        </td>
                    </tr>   
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
