{% import 'macros/clean_output.html' as clean_output %}
{% import 'macros/localized.html' as localized %}

{% macro techniques_used(technique_table_data, title, domain, type, citations=None) %}
{% if title %}
<h2 class="pt-3 mb-2" id="techniques">{{ title }}</h2>
{% endif %}
<div class="tables-mobile">
<table class="table techniques-used background table-bordered">
    <thead>
        <tr>
            {% if domain %}
            <th class="p-2" scope="col">{{ localized.text("Domain", "دامنه") }}</th>
            {% endif %}
            <th class="p-2" colspan="2">ID</th>
            <th class="p-2" scope="col">{{ localized.text("Name", "نام") }}</th>
            {% if type %}
            <th class="p-2" scope="col">{{ type }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for technique in technique_table_data %}
            {% if technique.technique_used %}
                {% if domain %}
                <tr class="technique {{technique.domain}}" id="{{technique.domain}}">
                {% else %}
                <tr class="technique" id="uses-{{technique.id}}">
                {% endif %}
                    {% if domain %}
                    <td>
                        {% if technique.domain == "enterprise" %}
                            {{ localized.text("Enterprise", "سازمانی") }}
                        {% elif technique.domain == "mobile" %}
                            {{ localized.text("Mobile", "موبایل") }}
                        {% elif technique.domain == "ics" %}
                            {{ localized.text("ICS", "سامانه‌های کنترل صنعتی") }}
                        {% endif %}
                    </td>
                    {% endif %}
                    <td colspan="2">
                        <a href="/techniques/{{technique.id}}">{{technique.id}}</a>
                    </td>
                    <td>
                        <a href="/techniques/{{technique.id}}">{{ localized.text(technique.name, technique.name_fa) }}</a>
                    </td>
                    {% if type %}
                    <td>
                        {{ localized.stix(technique.descr, technique.descr_fa, citations) }}
                    </td>
                    {% endif %}
                </tr>
                {% for subtechnique in technique.subtechniques %}
                    {% if domain %}
                    <tr class="sub technique {{technique.domain}}" id="{{technique.domain}}">
                    {% else %}
                    <tr class="sub technique" id="uses-{{technique.id}}-{{subtechnique.id}}">
                    {% endif %}
                        {% if domain %}
                        <td></td>
                        {% endif %}
                        <td></td>
                        <td>
                            <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">.{{subtechnique.id}}</a>
                        </td>
                        <td>
                            <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">{{ localized.text(subtechnique.name, subtechnique.name_fa) }}</a>
                        </td>
                        {% if type %}
                        <td>
                            {{ localized.stix(subtechnique.descr, subtechnique.descr_fa, citations) }}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                {% for subtechnique in technique.subtechniques %}
                    {% if loop.first %}
                        {% if domain %}
                        <tr class="sub technique noparent {{technique.domain}}" id="{{technique.domain}}">
                        {% else %}
                        <tr class="sub technique noparent" id="uses-{{technique.id}}-{{subtechnique.id}}">
                        {% endif %}
                            {% if domain %}
                            <td>
                                {% if technique.domain == "enterprise" %}
                                    {{ localized.text("Enterprise", "سازمانی") }}
                                {% elif technique.domain == "mobile" %}
                                    {{ localized.text("Mobile", "موبایل") }}
                                {% elif technique.domain == "ics" %}
                                    {{ localized.text("ICS", "سامانه‌های کنترل صنعتی") }}
                                {% endif %} 
                            </td>
                            {% endif %}
                            <td>
                                <a href="/techniques/{{technique.id}}">{{technique.id}}</a>
                            </td>
                            <td>
                                <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">.{{subtechnique.id}}</a>
                            </td>
                            <td>
                                <a href="/techniques/{{technique.id}}">{{ localized.text(technique.name, technique.name_fa) }}</a>: <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">{{ localized.text(subtechnique.name, subtechnique.name_fa) }}</a>
                            </td>
                            {% if type %}
                            <td>
                                {{ localized.stix(subtechnique.descr, subtechnique.descr_fa, citations) }}
                            </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        {% if domain %}
                        <tr class="sub technique {{technique.domain}}" id="{{technique.domain}}">
                        {% else %}
                        <tr class="sub technique" id="uses-{{technique.id}}-{{subtechnique.id}}">
                        {% endif %}
                            {% if domain %}
                            <td></td>
                            {% endif %}
                            <td></td>
                            <td>
                                <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">.{{subtechnique.id}}</a>
                            </td>
                            <td>
                                <a href="/techniques/{{technique.id}}">{{ localized.text(technique.name, technique.name_fa) }}</a>: <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">{{ localized.text(subtechnique.name, subtechnique.name_fa) }}</a>
                            </td>
                            {% if type %}
                            <td>
                                {{ localized.stix(subtechnique.descr, subtechnique.descr_fa, citations) }}
                            </td>
                            {% endif %}
                        </tr>                        
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endmacro %}
